
.canvas_cont {
    margin: 0 auto;
    width: 484px;
    min-width: 484px;
    min-height: 644px;
}

body {
    background-color: #272b30;
}

.link_inActive {
    color: darkred;
}

#username-span {
    margin-top: 7px;
    color: white;
}

.person {
    margin-right: 5px;
}
